@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.25);
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  position: relative;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
  padding: 100px 80px 173px;
}

.about__title {
  z-index: 1;
  margin: 0;
  max-width: 251px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  font-family: "Noto Serif" "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 19px;
}

.about__paragraph {
  margin-bottom: 0;
}

.about__paragraph:first-child {
  margin-top: 0;
}

.about__circle {
  position: absolute;
  left: -129px;
  top: -152px;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
