.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 800px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 80px 40px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  font-family: "Noto Serif" "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav__link {
  padding-left: 20px;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  padding: 100px 80px 215px;
}

.recipes__header {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 100px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif" "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
  border: none;
}

.recipes__iframe_french {
  width: 560px;
  height: 315px;
  border: solid #ffffff;
  border-width: 1px 0;
}

.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.reservation {
  /* add styles here and change title */
}

.reservation__text {
  /* add styles here */
}

.reservation__paragraph {
  /* add styles here */
}

.reservation__more {
  /* add styles here */
}

.reservation__title {
  /* add styles here */
}

.reservation__subtitle {
  /* add styles here for recipes */
}

.reservation__image {
  /* add styles here for recipes */
}

.menu {
  /* add styles here and change section name */
}

.menu__title {
  /* add styles here and change section name */
}

.menu__subtitle {
  /* add styles here and change section name */
}

.menu__image {
  /* add styles here and change section name */
}

.menu__paragraph {
  /* add styles here and change section name */
}

.menu__description {
  /* add styles here and change section name */
}
