.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 800px;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  display: block;
  flex-direction: row;
  max-width: 729px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 183px;
  margin-left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  margin: 0;
  padding: 0;
}

.header__second-line {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 0;
  padding: 0;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  flex-direction: flex-start;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__paragraph {
  display: flex;
  position: relative;
}

.header__hours {
  list-style: none;
  bottom: ;
}

.header__address {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  object-fit: contain;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  list-style: none;
  position: relative;
  top: 30px;
  right: 80px;
}

.nav__link {
  padding-left: 20px;
}

.recipes {
  /* add styles here */
}

.recipes__content {
  /* add styles here */
}

.recipes__heading {
  /* add styles here */
}

.recipes__title {
  /* add styles here */
}

.recipes__info-section {
  /* add styles here */
}

.recipes__item {
  /* add styles here */
}

.recipes__image_aeropress_text {
  /* add styles here */
}

.recipes__image_frenchpress_text {
  /* add styles here */
}

.event-info__icon_type_pin {
  /* add styles here and change title */
}

.recipes__text {
  /* add styles here */
}

.recipes__paragraph {
  /* add styles here */
}

.events__more {
  /* add styles here */
}

.events__more:hover {
  /* add styles here */
}

.events__cover {
  /* add styles here for recipes */
}

.events__image {
  /* add styles here for recipes */
}

.person {
  /* add styles here and change section name */
}

.person_location_bottom {
  /* add styles here and change section name */
}

.person_name_feynman {
  /* add styles here and change section name */
}

.person_name_burbidge {
  /* add styles here and change section name */
}

.person_name_cannon {
  /* add styles here and change section name */
}

.person_name_mitchell {
  /* add styles here and change section name */
}

.person_name_tarter {
  /* add styles here and change section name */
}

.person__image {
  /* add styles here and change section name */
}

.person__image_size_l {
  /* add styles here and change section name */
}

.person__image_size_m {
  /* add styles here and change section name */
}

.person__image_size_s {
  /* add styles here and change section name */
}

.person__caption {
  /* add styles here and change section name */
}

.staff {
  /* add styles here and change section name */
}

.staff__title {
  /* add styles here and change section name */
}

.staff__subtitle {
  /* add styles here and change section name */
}

.staff__cards {
  /* add styles here and change section name */
}

.card {
  /* add styles here and change section name */
}

.card__content {
  /* add styles here and change section name */
}

.card__title {
  /* add styles here and change section name */
}
